################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicSearchApi/obj/Release/net6.0
/DynamicSearchApi/obj
/DynamicSearch.Persistance/bin/Debug/net6.0
/DynamicSearch.Persistance/obj
/DynamicSearchApi/bin/Debug/net6.0
/DynamicSearch.Domain/obj
/DynamicSearch.Domain/bin/Debug/net6.0
/DynamicSearch.Persistance/bin/Debug/net7.0
/DynamicSearchApi/bin/Debug/net7.0
